.header{
	background: #EDFF5D;
}


.container{
	max-width: 1240px;
	margin: 0 auto;
}
.container__header{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.logo{

	font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
text-align: center;
color: #820500;

}

.burger{
	background-color: transparent;
	border: none;
	display: none;
}
.burger__line{
	background: black;
	width:80px;
	height:10px;
	margin-bottom: 10px;
}



.nav{
margin: auto 0;
}
.nav__list{
	display:flex;
	flex-wrap: wrap;

}
.nav__item{
list-style: none;
margin-right: 42px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;
color: #820500;
}
.link__nav:hover{
	color: blue;
}



.link__nav{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;
color: #820500;
text-decoration: none;
}


/* home 2-й раздел сайта */
.home{
	background: #EDFF5D;
	padding-bottom: 120px;
}
.container__home{
	display: flex;
	justify-content: space-between;
}
.home__image{
	width: 470px;
	height: 220px;
	align-self: flex-end;
}
.home__text{
	width: 450px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #FC2310;

}
.home__title{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;

color: #820500;
}
.home__btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */

text-align: center;
letter-spacing: 0.1em;

color: #EDFF5D;
background: #820500;
width: 350px;
padding-left: 37px;
padding-right: 37px;
}

/*--------вторая секция ABOUT----------*/
.about{
	background: #EDFF5D;
	margin-top: 0;
}


.abot__h2{
	text-align: center;
	margin-top: 0;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #820500;
}
.abot__headerText{
	text-align: center;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */

text-align: center;

color: #FC2310;
}
.about__bottom{
	display: flex;
	justify-content: space-between;
}
.skills__header{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;

color: #820500;
}
.perevorot{
	display: flex;
	justify-content: space-between;
}
.about_text_li{
	
}
.skills__item{
	list-style: none;
}
.raiting{
	
	height: 3px;
	width: 300px;
	background: #FA615B;
transform: rotate(-0.06deg);
}
.about_text_li{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */
margin-bottom: 0;
color: #820500;
}
.xx{
	flex-grow: 1;
	text-align: right;

}
.about__number
{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */
margin-bottom: 0;

color: #B80E01;
}
.pok{
	height: 100%;
background: #820500;
width: ;
}
.pok1{
width: 98%;
}
.pok2{
	width: 95%;
}
.pok3{
	width:125%;
}
.about__list__foto{
	display: flex;
	flex-wrap:wrap ;
	justify-content: flex-start;
}
.ab_img{

}
.ball{
	
	margin-left: 50px;
}
.about__image__item{
	list-style: none;
}



/*----Video------*/
.video{
background: #EDFF5D;
}
.container__video{

}
.video__title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;
margin-top: 0;
color: #820500;
padding: 50px 0;
}
.video__text{
	max-width: 760px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */
padding-bottom: 40px;

text-align: left;

color: #B80E01;
margin: 0 auto;
}
.video__tube{
	padding-bottom: 50px;
}

/*.img__top{
	width: 80px;
}
.btn__top{
	position: fixed;
	top:100;
	bottom: 0;
	left: 100;
	right: 0;
	margin: 20px;
	transition: 2s;
}*/


/*Адаптивная верстка для планшет*/

@media (max-width:834px ) {

.burger{
	display: block;
}
.nav{
	display: none;
}

.container{
	max-width: 630px;
}
.container__home{
	flex-direction: column;
}


}

