.header{
	background: #EDFF5D;
}
.container{
	max-width: 1240px;
	margin: 0 auto;
}
.container__header{
	display:flex;
	justify-content: space-between;
}
.logo{
	font-family: 'Revalia';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
/* identical to box height */

text-align: center;

color: #820500;

}
.nav{
	margin: auto 0;
}
.nav__list{
	display:flex;

}
.nav__item{
list-style: none;
margin-right: 42px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #820500;
}
.nav__link{
	text-decoration: none;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;
color: #820500;
}
.nav__item:hover{
	
}
.nav__link:hover{
color: green;

}

/*----------- вторая часть home-----------------*/
.home{
	background: #EDFF5D;
}
.container__home{
	display: flex;
}
.home__text{
	max-width: 475px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #FC2310;
}
.right_home{
margin-left: 225px;
}
.left_home{
padding-top: 80px;
}
.home_button{
	padding: 12px;
	background: #820500;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */

text-align: center;
letter-spacing: 0.1em;
width: 320px;
color: #EDFF5D;
}
.home__title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;

color: #820500;
}

/*-------skills---*/
.skills{
	background: #EDFF5D;
	padding-bottom: 150px;
}
.skills__title{
	margin: 0;
	text-align: center;
	padding-top: 50px;

}
.skills__text{
	text-align: center;
	width: 500px;
	margin: 0 auto;
}
.img__skills{
	width: 200px;
}

.skills__bottom{
	display: flex;
	justify-content: space-between;
}

/*-------Progress bar---------*/
.left__title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;

color: #820500;
}

.list__bar{
padding: 0;
}

.item__bar{
list-style: none;

}

.title__bar{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */
margin: 5px;

color: #820500;
}

.bar{
background: #820500;
width: 559px;
height: 4px;
}
.bar2{
background: #820500;
width: 441.02px;;
height: 4px;
}
.bar3{
background: #820500;
width: 600px;
height: 4px;
}
.skills__right{
	align-self: flex-end;
}

/*--------Video-----------*/

.video{
	background: #EDFF5D;
}

.title__video{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;
text-align: center;
margin-top: 0;
color: #820500;

}
.video__tube{
	display: block;
	margin: 0 auto;
	padding-bottom: 50px;
}


.text__video{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
/* or 39px */

text-align: center;

color: #FC2310;
}

/*----------Галлерея---------------*/
.gallary{
	background: #EDFF5D;
	padding-bottom: 6px;
}

.gallary__list{
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

}
.item__gallary{
	list-style: none;
	width: 25%;
	margin-bottom: -10px;

}
.img__gallary{
	width: 100%;
	
}

/*---------Футер--------------*/
.footer{
	background: #820500;
}
.container__footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title__footer{
	padding-top:50px ;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #EDFF5D;
margin-top: 0;
}
.text__foter{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: #EDFF5D;
padding-bottom:50px ;
}
